// MENU COLORS
$sideMenubg:#2e4f81;
$headerFooterbg:#3b6cb4;

// colors
$white:#fff;

// FONTS VARIABLES
$fontBook:'AvenirBook';
$fontRoman:'AvenirRoman';
$fontLight:'AvenirLight';
$fontMedium:'AvenirMedium';


// BUTTON DROPDOWNS BORDERS
$btnborder:1px solid #e3e3e3;